body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.o-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}